:root {
  --section-paragraf-color: #757575;
  --section-title-color: #212121;
  --color-letter-white: #ffffff;
  --color-letter-blue: #2196f3;
  --active-link-color: #188ce8;
  --color-background: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Raleway", sans-serif;
}
.header {
  border-bottom: 1px solid #ececec;
}
ul {
  list-style: none;
}
.body {
  font-family: var(--font-family);
}
p {
  font-style: normal;
}
/* Глобальный сброс стилей по селектору тега, то чтоне входит в нормалайз */
a {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

button {
  cursor: pointer;
  direction: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
/* Эффекты для интерактивных элементов */
.header-link:hover,
.heder-link:active,
.heder-link:focus {
  color: var(--color-letter-blue);
}
/* Ссылки в шапке */
.header-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--section-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-mail {
  color: var(--section-paragraf-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-mail:hover,
.heder-link-mail:active,
.heder-link-mail:focus {
  color: var(--color-letter-blue);
  display: block;
}
.header-link-tel {
  color: var(--section-paragraf-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-tel:hover,
.heder-link-tel:active,
.heder-link-tel:focus {
  color: var(--color-letter-blue);
}
/* Подсветка Ссылки Студия */
.header-link-studio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-portfolio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
}
/* Фокус логотипа */
.logo:focus {
  color: var(--active-link-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc (26 / 31);
}
/* Часть цвета логотипа */
.color-logo-web {
  color: var(--color-letter-blue);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}
.color-logo-studio {
  color: var(--section-title-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}

/* Секция 1 */
.section-1 {
  font-family: var(--font-family);
  color: var(--color-letter-white);
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--color-background);
  background-image: url(../images/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Заголовок h1 */
.section-title-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-letter-white);
  max-width: 696px;
  margin: 0 auto 30px auto;
}
/* Абзацы */
.section-paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.section-paragraf-portfolio {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.section-paragraf-1 {
  font-weight: 400;
  color: var(--section-paragraf-color);
  line-height: calc(30 / 16);
  font-size: 14px;
  /* width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px; */
  /* padding-top: 10px; */
  letter-spacing: 0.03em;
  text-align: center;
}
.title-our-team {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  text-align: center;
  margin-bottom: 10px;
}
/* Секция заголовка "Чем мы занимаемся" */
.title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--section-title-color);
}
.title-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}

.title-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}

.title-3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}

.title-4 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}
/* -----------------картинки на сером фоне--------------------------- */
.title-1::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-image: url(../images/antenna\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-2::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-image: url(../images/clock\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-3::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-image: url(../images/diagram\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-4::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-image: url(../images/astronaut\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.section-title-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  margin-bottom: 50px;
  text-align: center;
}
.section-title-3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  margin-bottom: 50px;
  text-align: center;
}
.title-img {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--section-title-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
/* Подвал */
.footer {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .container-footer {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */
.address-link:hover {
  color: var(--color-letter-blue);
}
.address-link:active {
  color: var(--section-paragraf-color);
}
.address-link:focus {
  color: var(--color-letter-white);
}
/* Секция адреса */
.logo-address {
  margin-bottom: 20px;
}
.about-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
}
.address-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
  margin-bottom: 9px;
}
.address-link-maps {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
  padding-bottom: 9px;
}
.address-link-maps:hover {
  color: var(--color-letter-blue);
}
.address-link-maps:active {
  color: var(--active-link-color);
}
.address-link-maps:focus {
  color: var(--section-paragraf-color);
}
.address-link-mail {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.address-link-mail:hover {
  color: var(--color-letter-blue);
}
.address-link-mail:active {
  color: var(--active-link-color);
}
.address-link-mail:focus {
  color: var(--color-letter-white);
}
.address-link-tel {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link-tel:hover {
  color: var(--color-letter-blue);
}
.address-link-tel:active {
  color: var(--active-link-color);
}
.address-link-tel:focus {
  color: var(--color-letter-white);
}
/* Кнопки */
.section-btn-1 {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;

  min-width: 200px;
  min-height: 50px;
}
.section-btn-1:hover,
.section-btn-1:focus {
  background-color: var(--active-link-color);
}
.btn-grey:hover,
.btn-grey:focus {
  background-color: var(--color-letter-blue);
  color: var(--color-letter-white);
}
.btn-blue {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;

  min-width: 73px;
  min-height: 38px;
}
.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--active-link-color);
}
.section-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  margin-bottom: 200px;

  display: inline-block;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}
.section-btn:hover,
.section-btn:focus {
  background-color: var(--active-link-color);
}

.btn-grey {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  background: #f5f4fa;
  min-width: 128px;
  min-height: 38px;
  border-radius: 4px;
  border: none;
}
/* Вторая секция с текстом */
.section-2 {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* <!-- Наша команда--> */
.section-our-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
/* Цвет части логотипа в футере */
.color-logo-studio-address {
  color: var(--color-letter-white);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}

/* --------Блочная модель-------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid #bb0505; */
}

/* !!!!ЭТО РОДИТЕЛЬ ГЛАВНОГО МЕНЮ НАВИГАЦИИ ВСЕХ ССЫЛОК И КНОПОК, СВОЙСТВО
  align-items: center; СТАВИТ ИХ В ГОРИЗОНТАЛЬНОЕ ПОЛОЖЕНИЕ ОТНОСИТЕЛЬНО ГЛАВНОЙ ОСИ!!!!! */
.header-nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: 93px;
}
.categories-list .item:not(:last-child) {
  margin-right: 0;
}
.item {
  margin-left: 50px;
}

/* Расположение контактов */

.categories-contact {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
/* Крайняя геометрия, во избежание выпадения списка из меню */
.categories-list .categories-contact-tel:not(:last-child) {
  margin-right: 0;
}

.categories-contact-mail {
  margin-right: 50px;
}
/* Иконки для контактов в хедере */

.header-link-mail::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 30px;
  margin-right: 15px;

  background-image: url(../images/mail.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header-link-tel::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 30px;
  margin-right: 15px;
  background-image: url(../images/smartphone.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.img-1 {
  padding-bottom: 94px;
}

/* Страничка портфолио кнопки */
.main-buttons {
  padding-bottom: 94px;
  padding-top: 94px;
  margin-bottom: 50px;
}

.main-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.main-btn-item {
  display: inline-block;
  align-items: center;
}
/* Задаем отступы между кнопками всех кроме последнего */

.main-btn .main-btn-item:not(:last-child) {
  margin-right: 8px;
}
.section-btn {
  display: inline-block;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}
/* Студия Список абзацев*/
.action-list {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
}
.list {
  margin-right: 30px;
  width: 270px;
}
.action-list .list:last-child {
  margin-right: 0px;
}

/* Студия чем мы занимаемся - 3 фото расположение flex */

.child-photo {
  display: flex;
  flex-wrap: wrap;
}
.list-photo {
  margin-right: 30px;
  width: 370px;
}
.child-photo .list-photo:last-child {
  margin-right: 0px;
}

/* Студия команда */

.team {
  display: flex;
  /* flex-wrap: wrap; -здесь не нужен потому что из-за него элементы перепрыгивают на соседнюю строку*/
}
.list-team {
  margin-right: 30px;
  background: var(--color-letter-white);
  border-bottom: #212121;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team .list-team:last-child {
  margin-right: 0px;
}

.section-paragraf-1 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}

.section-paragraf-2 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* padding: 10px 61px 30px 62px;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}

.section-paragraf-3 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* padding: 10px 97px 30px 97px;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}

.section-paragraf-4 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* padding: 10px 91px 30px 92px;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}
/* .title-our-team-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin: 30px 80px auto 81px;
  color: var(--section-title-color);
} */
.list-img {
  display: flex;
  flex-wrap: wrap;
  /* width: 1230px;
  padding-left: 15px;
  padding-right: 15px; */
}

.list-img > .images {
  background: #ffffff;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.list-img .images:last-child {
  margin-right: 0px;
}
.list-img .images:nth-child(-n + 3) {
  margin-top: 0;
}
.list-img .images:nth-child(3n + 1) {
  margin-left: 0;
}

.our-team-text {
  padding: 30px 20px 30px 20px;
}
.text-img {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
